<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
</head>
<body>

<h1>INFO</h1>


<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Information</th>
    </tr>

    <p th:each="el : ${film}">
        <tr>
            <td th:text="${el.getID()}"></td>
            <td th:text="${el.getName()}"></td>
            <td th:text="${el.getText()}"></td>
        </tr>
    </p>
</table>

<form th:method="DELETE" th:action="@{/film/{id}(id=${film.getID()})}">
    <input type="submit" value="Delete"/>
</form>


</body>
</html>